/*customizations to react-bootstrap styles*/

body {
  background: #121212!important;
}

.search-header {
  text-align: center;
  color: #fefefe;
}

.search-container {
  margin: 0 auto;
  max-width: 960;
  padding: 1.45rem 1.0875rem;
  text-align: center;
}

.btn.btn-success {
  padding: .375rem 2.75rem;
  font-size: 1rem;
  line-height: 1.5;
  border-radius: 1.25rem;
}

.search-input.form-control {
  border-radius: 30px;
  font-size: 1.2rem;
  margin-bottom: 2rem;
}

footer {
  text-align: center;
  color: #fefefe;
}

/** Now Playing **/
.now-playing__name {
  font-size: 1.5em;
  margin-bottom: 0.2em;
}
.now-playing__artist {
  margin-bottom: 1em;
}
.now-playing__status {
  margin-bottom: 1em;
}
.now-playing__img {
  float: left;
  margin-right: 10px;
  text-align: right;
  width: 45%;
}
.now-playing__img img {
  max-width: 80vmin;
  width: 100%;
}
.now-playing__side {
  margin-left: 5%;
  width: 45%;
}
/** Progress **/
.progress {
  border: 1px solid #eee;
  height: 6px;
  border-radius: 3px;
  overflow: hidden;
}
.progress__bar {
  background-color: #eee;
  height: 4px;
}

@import "~bootstrap/scss/bootstrap";
