@import "@sass/mixins.scss";

/*====================
Login Screen
=====================*/

.login-header {
    text-align: center;
    color: #fefefe;
    font-size: $font-md;
    margin-bottom: $gutter-md;
}

.login-container {
    margin-top: 15rem;
    text-align: center;
}
